img {
	width: 205px;
	height: 205px;
	border-radius: 50%;
	object-fit: cover;
}

body {
	background-color: #f7f9fc
}

.block {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	height: 500px;
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 20px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
	margin: 20px;
	background-color: #e1f0ff;
}

a:link, a:visited{
	color: black;
	font-style: normal;
	text-decoration: none;
}

#overall {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 40px;
	max-width: 1000px;
	margin: auto;
}

h1 {
	font-family: 'Poppins Semi Bold', sans-serif;
	font-size: 27px;
	font-weight: bold;
	margin-top: 15px;
}

#blueline {
	width: 50px;
	height: 1.5px;
	background: #0050FF;
	margin-top: 15px;
}

#welcomeLink {
	color: #0050FF;
}

#role {
	margin-top: 15px;
	font-family: 'Avenir Light', sans-serif;
	font-size: 17px;
	letter-spacing: 2.5px;
	color: #333;
}

#hello {
	font-family: 'Poppins Semi Bold', sans-serif;
	font-size: 80px;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
	color: #333;
}

.button {
	background-color: #0050FF;
	color: white !important;
	height: 35px;
	text-align: center;
	display: inline-block;
	padding: 10.5px;
	font-size: 14px;
	margin: 4px 8px;
	width: 130px;
	font-family: sans-serif;
	border-radius: 20px;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: #003ecc;
}

#blurb {
	font-family: 'Avenir Light', sans-serif;
	font-size: 18px;
	text-align: center;
	font-weight: 300;
	line-height: 1.6;
	max-width: 500px;
	margin-top: 20px;
	color: #444;
}
